.principalContainer {
    display: grid;
    grid-template-rows: 10fr;
    grid-template-columns: 5fr 5fr;
    gap: 2rem;
}

.containerForm {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.containerPageLogo {
    display: flex;
}

.pageLogo {
    width: 500px;
    height: 400px;
}

.iconBack {
    position: absolute;
    top: 1rem;
    left:1rem;
    font-size: 4rem;
}