.principalContainer{
    background: green;
}
.containerCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    flex-wrap: wrap;
}

.containerCards section{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, #e0a3ab, #a44d9a);
    border: 0.1rem solid rgb(236, 236, 228);
    justify-content: space-between;
}

.containerCards section:hover{
    background-image: linear-gradient(to bottom, #9c29b9, #db34db);
}

.containerCards article {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.containerCards h2{
    margin: 0.1rem;
}

.containerCards h3{
    margin: 0.1rem;
}
.containerCards img{
    max-width: 9vw;
}

.containerCards button{
    background:transparent ;
    color: aliceblue;
}

.containerCards button:hover{
    color: red;
    cursor: pointer
}

