.cont {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.cont_items {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 1rem 2rem 1rem;
    box-shadow: 1px 1px 2px 2px rgb(93, 92, 92);
    margin-right: 1rem;
    background-image: linear-gradient(to bottom right, pink, lightgreen);
    margin-bottom: 10rem;
}

.item {
    width: 95%;
    height: 9rem;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 1px 1px 1px 1px rgb(93, 92, 92);
    background-color: rgb(7, 118, 230, .2);
}

.image_cont {
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit:contain;
    cursor: pointer;
}

.name_cont {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    margin: 0.5rem auto;
}

.delete {
    display: flex;
    justify-content: center;
    width: 100%;
}

.delete_cont {
    position: relative;
}

.DeleteIcon {
    cursor: pointer;
}

.DeleteIcon:hover {
    color: red;
}

.text_delete {
    display: none;
    position: absolute;
    top: -60%;
    left: 110%;
    background-color: rgb(191, 223, 252);
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.delete_cont:hover .text_delete {
    display: block;
}

.cont_quantity {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
    align-items: center;
}

.quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.button_quantity {
    height: 2rem;
    width: 2rem;
    border: 2px solid rgb(76, 76, 255);
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.button_quantity:hover {
    background-color: rgb(76, 76, 255);
    font-weight: bold;
}

.stock {
    display: flex;
    align-items: center;
    height: 30%;
    margin: 0;
}

.stock_limit {
    display: flex;
    align-items: center;
    color: red;
    height: 30%;
    margin: 0;
}

.price {
    font-size: 2rem;
    font-weight: lighter;
    margin: auto;
    background-color: rgba(10, 193, 184, 0.4);
    padding: 5px;
    border-radius: 5px;
}

.total {
    width: 20%;
    height: 10rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px rgb(93, 92, 92);
    background-color: pink;
    position: sticky;
    top: 10px;
}

.button_compra {
    width: 50%;
    height: 2rem;
    border-radius: 5px;
    border: 2px solid rgb(76, 76, 255);
    cursor: pointer;
}

.button_compra:hover {
    background-color: rgb(76, 76, 255);
    font-weight: bold;
}

@media all and (max-width: 599px) {

    .cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        border-top: 2px solid black;
    } 
    
    .cont_items {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 0;
        box-shadow: none;
        margin-right: 0;
        background-image: linear-gradient(to bottom right, pink, lightgreen);
        margin-bottom: 1rem;
    }

    .item {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 0;
        padding: 5px;
        margin: 5px auto;
        box-shadow: none;
        background-color: rgb(7, 118, 230, .1);
    }

    .image_cont {
        width: 20%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .name_cont {
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .price {
        font-size: 1rem;
        font-weight: normal;
        margin: auto;
    }

    .total {
        width: 70%;
        height: 10rem;
        border: none;
        border-radius: 0;
        box-shadow: none;
        background-color: pink;
        margin-bottom: 1rem;
    }
}