.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 0 0 5px 1px black;
    background-color: #ffcede;
    color: rgb(44, 44, 43);
}

.close_button {
    width: 10%;
    cursor: pointer;
    margin-bottom: 1rem;
    background-image: linear-gradient(to bottom right, pink, lightgreen);
    border: 2px solid #946E69;
    height: 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
}

.close_button:hover {
    box-shadow: 0 0 5px 1px rgb(249, 72, 154);
}

.general_cont {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.image_cont {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    border-radius: 0.3rem;
    width: 80%;
    box-shadow: 0 0 5px 1px rgb(249, 72, 154);
}

.info_cont {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: flex-start;
}

.h2 {
    margin: 0 0 1rem 0;
} 

.price {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
}

.h4_info {
    margin: 0.5rem 0;
}

.description {
    margin: 0;
    text-decoration: underline;
}

.paragraph {
    text-align: left;
    text-shadow: none;
}

.last_cont {
    width: 30%;
    border-left: 1px solid rgb(77, 76, 76);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button_cart_cont {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-image: linear-gradient(to bottom right, pink, lightgreen);
    border: 2px solid #946E69;
    padding: 0 1rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 90%;
    justify-content: center;
}

.button:hover {
    box-shadow: 0 0 5px 1px rgb(249, 72, 154);
}

@media all and (max-width: 599px) {

    .cont {
        width: 100%;
        margin: 0;
        padding: 1rem 0;
        border-radius: 0;
        box-shadow: none;
        background-color: rgb(203, 250, 255);
        color: black;
    }

    .general_cont {
        display: flex;
        flex-direction: column;
    }

    .image_cont {
        width: 100%;
    }

    .image {
        border-radius: 0;
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .info_cont {
        width: 100%;
        padding: 0.2rem;
        align-items: center;
    }

    .last_cont {
        width: 100%;
        border-top: 1px solid rgb(77, 76, 76);
        
    }

    .button_cart_cont {
        width: 45%;
    }

    .buy_button {
        width: 45%;
    }

    .button {
        width: 100%;
    }
}