.filterAndOrder {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-image: linear-gradient(to right, #46B7A5, #FFC5C4, #E5CDF7);
}

.allSelects {
  margin: 10px 10px; 
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  height: 45px;
  width: 100%; 
  max-width: 230px; 
  border: 2px solid #30e6c1;
  font-size: 1em;
  font-weight: 500;
  font-family: sans-serif;
  text-align: left;
  background: #ffffff;
  color: #e377b1;
  font-size: 18px;
  outline: none;
  transition: all 0.3s;
  font-weight: 600;
}
.filterAndOrder select:hover {
  border: 2px solid #24B397;
}

.limpiar {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  margin: 10px 5px; 
  border-radius: 15px;
  cursor: pointer;
  width: 70%; 
  max-width: 130px;
  height: 45px;
  padding: 5px 15px;
  text-align: start;
  font-weight: 500;
  font-family: sans-serif;
  background: #e377b1;
  font-size: 18px;
  color: white;
  transition: all 0.3s;
  font-weight: 600;
}
.limpiar:hover{
  background: rgba(204, 107, 159, 1);
  transform: scale(1.1);
}
.cleanIcon{
  position: absolute;
  right: 15px;
}

@media screen and (max-width: 768px) {
 
  .filterAndOrder {
      flex-direction: column;
      justify-content: center;
  }

  .allSelects,
  .filterAndOrder button {
      margin: 0; 
      margin-right: 10px; 
      width: auto; 
      max-width: none; 
  }
}
@media screen and (max-width: 768px) {
  .limpiar {
    margin-top: 10px !important;
  }
  .cleanIcon{
    position: relative !important;
    right: 0 !important; 
  }
  .allSelects{
    margin-top: 5px;
  }
}