.card-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem ;
    margin: 1.5rem;
    border-radius: 8px;
    max-width: 30vw;
    background: #F5C7D5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #2B2A29; 
    position: relative;
  }
  
  .card-container img { 
    max-width: 10vw; 
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  
  .card-container img:hover { 
     cursor: pointer;
     transform: scale(1.10);
  }
  .card-title {
    font-weight: bold; 
    max-width: 10vw;
    text-align: left;
    padding: 0.5rem;
  }

  .card-title h3 {
    font-size: medium;
  }

  .card-title h2 {
    font-size: large;
  }
  .card-title .content {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .stockDisponible {
    background: #FFC5C4; 
    color: #2B2A29;
    border-radius: 3px;
    padding: 4px;
    width: 150px;
  }
  
  .iconAddShoppingCart {
    position: absolute;
    top: 12px;
    left: 12px;
    color: #2B2A29; 
    font-size: 1.5em;
  }
  
  .iconAddShoppingCart:hover {
    cursor: pointer;
    color: #46B7A5; 
  }