.principalContainer {
  display: flex;
  position: relative;
}

.img {
  width: 3.5rem;
  height: 3.5rem !important;
  border-radius: 50%;
  margin-left: 20px;
  border: 3px solid #30e6c1;
  transition: all 0.3s;
}
.img:hover {
  cursor: pointer;
  border: 3px solid #24B397;
  transform: scale(1.1);
}

.containerMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #fff;
  top: 4.5rem;
  right: 0;
  min-width: 250px;
  max-width: 350px;
  z-index: 100;
  border-radius: 5px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.containerMenu.open {
  max-height: 900px;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px 25px;
}

.subContainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hrMenu {
  border: 0;
  width: 100%;
  height: 2px;
  background: #9D9D9D;
  margin: 0px 0 0px;
}

.imgMenu {
  width: 3.5rem;
  height: 3.5rem !important;
  border-radius: 50%;
  margin: 10px 0px !important;
}

.containerLogo {
  position: relative;
}

.imgLogo {
  position: absolute;
  transform: rotate(-45deg);
  top: -10px;
  left: 9px;
}

.nameMenu {
  font-weight: 600;
  margin: 10px !important;
  color: #646464;
  text-align: start;
  font-size: 20px;
}

.containerBody {
  display: flex;
  flex-direction: column;
  padding: 8px 25px;
}

.menuLink {
  position: relative;
  display: flex;
  align-items: center !important;
  justify-content: start;
  text-decoration: none;
  color: #646464;
  margin: 12px 0px 12px 0%;
}

.menuLinkP {
  margin-left: 10px;
  transition: transform 0.5s;
}

.containerIcon {
  display: flex;
  /* padding: 0px 0px 0px 1px; */
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: linear-gradient(#e377b1,  #f8d5e7);;
  color: white;
}

.containerIconArrow {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  color: #30e6c1;
  transition: transform 0.5s;
}

.menuLink:hover .containerIconArrow {
  transform: translateX(8px);
}

.menuLink:hover .menuLinkP {
  font-weight: 500;
}