.principal {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-left: 8rem;
    margin-right: 8rem;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 3rem;
    margin-top: 2rem;
    color: black;
    border-radius: 20px;
    border-color: black;
    text-align: justify;
   
}

.informacion {
    border-radius: 40px;
    border: 1px solid #ccc;
    max-width: 10vw;
    background-color: aquamarine;
    margin-top: 280px;
    margin-left:400px;
    border-color: black;
    text-align: center;
}

.informacion1{
    border-radius: 40px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: aquamarine;
    margin-top: 280px;
    border-color: black;
    text-align: center;

}

.masinfop {
    color: black;
}

.textContainer {
    flex: 1;
    max-width: 40vw;
}
.textContainer img{
    max-width: 35vw;
}
.imageContainer {
    flex: 1;
}

.planLogo {
    height: 400px;
    width: 400px;
}

.fiestaLogo {
    height: 450px;
    width: 450px;
    margin-left: 150px;
}
.imgAhorro{
    width: 800px;
    height: 300px;
}
.informacion2{
    border-radius: 40px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: aquamarine;
    margin-top: 30px;
    border-color: black;
    text-align: center;
}