/* HistorialVentas.css */

.historialVentas {
    font-family: Arial, sans-serif;
    max-width: 80vw;
    margin: 0 auto;
    padding: 20px;
  }
  
.historialVentas h1 {
margin-bottom: 1rem;
}

.filtros {
margin-bottom: 2rem;
}

.filtros input {
max-width: 10vw;  
padding: 0.4rem;
margin-right: 1rem;
height: 1rem;
}

.filtros button {
padding: 5px 10px;
margin-right: 1rem;
color: #fff;
border-radius: 0.5rem;
cursor: pointer;
}

.historialVentas table {
width: 100%;
border-collapse: collapse;
}

.historialVentas  th{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.historialVentas table td {
padding: 10px;
text-align: center;
border-bottom: 1px solid #ddd;
}

.historialVentas table th {
background-color: #f2f2f2;
text-align: center;
}

.historialVentas tr:hover {
background-color: #f5f5f5;
}

.historialVentas button {
background: #e100ff;
color: #fff;
border: none;
padding: 5px 10px;
cursor: pointer;
transition: 0.8s ease; 
}

.historialVentas button:hover {
background: #b300a4;
}

.historialVentas table button{
  margin-left: 0.5rem;
}

.modal {
  background: rgb(96, 199, 163);
  width: 50vw;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 0.8rem;
}

.modal button{
  background: red;
  color: white;
  border-radius: 2rem;
  font-weight: bolder;
}

.modal button:hover {
  cursor: pointer;
}

.modal span{
  font-weight: bolder;
}
.modal label{
  background: #a29e9e8f;
  border: 0.1rem solid #202020;
  font-weight: 400;
  padding: 0.3rem;
  margin: 0.3rem;
}

.modal li{
  list-style:none ; 
  display: flex;
  flex-direction: row;
  gap:2rem;
  margin-top: 1rem;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtros .botonExcel{
  background: rgb(12, 167, 12);
}

.filtros .botonExcel:hover {
  background: rgb(33, 134, 15);
}