.cont {
    display: flex;
    width: 25%;
    justify-content: center;
}

.input {
    height: 2rem;
    border-radius: 0.3rem 0 0 0.3rem;
    border: 2px solid rgb(26, 178, 163);
    background-color: rgb(242, 255, 242);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 192, 203, .1);
    border: none;
    color: #0e6692;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    border: none !important;
    color: black !important;
}

