.navBar {
    background-image: linear-gradient(to right, #46B7A5, #FFC5C4, #E5CDF7);
    display: flex;
    padding: 0.5em;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.cart_cont {
    position: relative;
    background-color: white;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #30e6c1;
    transition: all 0.3s;
}
.cart_cont:hover {
    cursor: pointer;
    border: 3px solid #24B397;
    transform: scale(1.1);
}

.cartNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #e377b1;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 18px;
    left: 30px;
    font-weight: bold;
    font-size: 12px;
    color: white;
}
.carrito{
    height: 15px;
    width: 30px;
}
.navBar .search {
    flex: 1; 
    display: flex;
    justify-content: center;
}

.navBar .search input {
    background: #202020;
    color: #0085CA;
    font-size: medium;
    border-radius: 2em 0.5em 0.5em 2em;
    padding: 0.5em;
    width: 100%; 
    max-width: 300px; 
}

.navBar .search button {
    margin: 0;
    border-radius: 0.5em 2em 2em 0.5em;
    font-weight: bolder;
    padding: 0.5em;
}

.botones {
    margin: 0;
}

.button {
    border: 2px solid #e377b1;
    border-radius: 15px;
    background: white;
    margin: 0 1.5rem;
    padding: 13px 20px;
    color: #646464;
    font-size: medium;
    font-weight: bolder;
    transition: all 0.4s;
}

.button:hover {
    color: #e377b1;
    cursor: pointer;
}
.button:active,
.button:focus {
    color: #e377b1;
}

.signin {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem;
}

.buttonSettings {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    margin: 0.5rem;
    border: none;
    font-size: 18px;
    border-radius: 50%;
    font-weight: 500;
    margin-left: 25px;
    border: 2px solid #30e6c1 !important;
    background-color: #ffffff;
    color: #646464;
    transition: all 0.3s;
}

.buttonSettings:hover {
    transform: translateX(0px);
    transform: scale(1.1);
    border: 2px solid #46B7A5 !important;
}

.signin img {
    height: 2rem;
}

.img {
    width: 150px;
    height: 100px;
}
.loginButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    margin: 0.5rem;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    border: 2px solid #30e6c1;
    background-color: #ffffff;
    transition: all 0.3s;
    border-radius: 10px;
    font-weight: 600;
    padding: 0 15px;
    color: #646464;
}
.loginButton:hover{
    transform: scale(1.1);
    border: 2px solid #46B7A5;
    color: black;
}

@media screen and (max-width: 768px) {
    .navBar {
        flex-direction: column;
        text-align: center;
    }

    .navBar .search {
        order: 1; 
    }

    .navBar .search input {
        border-radius: 0.5em;
        width: 100%; 
        max-width: 300px;
    }

    .navBar .botones {
        margin-top: 14px;
        display: flex;
        flex-direction: column;
    }
    .navBar .botones .button {
        margin-top: 5px;
    }
}




