.navBar {
    background-image: linear-gradient(to right, #46B7A5, #FFC5C4, #E5CDF7);
    display: flex;
    padding: 0.5em ;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
   
}   

.cart_cont {
    position: relative;
}

.cartNumber {
    position: absolute;
    background-color: red;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    top: 0;
    left: 1rem; 
    font-weight: bold;
    color: white;
}

.navBar .search{
    justify-content: center;
}

.navBar .search input{
    background: #202020;
    color:  #0085CA;
    font-size: medium;
    border-radius: 2em 0.5em 0.5em 2em;
    padding: 0.5em;
}

.navBar .search button{
    margin: 0;
    border-radius: 0.5em 2em 2em 0.5em;
    font-weight: bolder;
    padding: 0.5em;

}
.botones{
    margin: 0.5em;
}

.navBar .botones button{
    color: #bd21b0;
    border: 0.1em solid #Dc7996;
    border-radius: 1rem;
    background: #E5CDF7;
    margin-left: 0.1em;
    padding: 0.5em;
    font-size: medium;
    font-weight: bolder;
}

.navBar button:hover {
    color: #46B7A5;
    border: 0.2em solid#46B7A5;
    cursor: pointer;
}

.navBar img:hover {
    cursor: pointer;
    transform: scale(1.10);
    
}

.signin {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0.2rem;
}

.signin button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    margin: 0.5rem;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
    font-weight: 500;
    translate: none !important;
    margin-left: 25px;
    border: 2px solid #46B7A5 !important;
}
.signin button:hover{
    transform: translateX(0px);
}
.signin img{
    height: 2rem;
}
.img{
   width: 180px;
   height: 120px;
   
}