.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f4f4f4;
}


.categoriesList {
  flex: 1;
  margin-right: 20px;
}

.categoriesList h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.categoriesList ul {
  list-style: none;
  padding: 0;
}

.categoriesList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.deleteButton {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.editar{
  background-color:#007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}


.createCategoryForm {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.createCategoryForm h2 {
  font-size: 20px;
  margin-bottom: 20px;
}


.group {
  margin-bottom: 20px;
}


.label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}


.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.errorText {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}


.createButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}


.resetButton {
  margin-top: 10px;
  background-color: #0051ff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}


.createButton:hover {
  background-color: #0056b3;
}