
.slide {
    margin-top: 1rem;
    max-height: 40vh;
    padding: 1rem;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;

}
.slide img {
    max-height: 35vh;
    object-fit: contain; /* Ajustar la imagen manteniendo la proporción */
    object-position: center; /* Centrar la imagen */
}
